.background-fb{
    background-color: #ffffff;
    padding: 20px;
    margin-top: 10px;
}

.info-brand{
    display: flex;
    align-items: center;
}

.logo-brand{
    width: 50px;
    height: 50px;
    border: 0.1px #666666 solid;
    border-radius: 50%;
    margin-right: 20px;
    background-image: url('../../assets/images/brand.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.user-brand{
    margin: 0%;
    font-size: 17px;
    font-weight: 600;
}

.date-brand-post{
    font-size: 13px;
    font-weight: 400;
    color: #5c5c5c !important;
}

.description-content{
    margin-top: 25px;
    margin-left: 15px;
    margin-bottom: 35px;
    font-size: 14px;
    color: #5c5c5c;
    font-weight: 400;
}

.img-brand{
    width: 100%;
    height: 300px;
    border: 0.5px #5c5c5c solid;
}

.sliderimg{
    width: 100%;
    height: 500px;
    object-fit: cover
}