
.modal-title{
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
}

.form-select{
    margin-left: 20px;
    border-radius: 7px;
    width: 200px;
    padding: 5px 20px;
}

.radio-flex{
    display: flex;
    justify-content: space-evenly;
}
