
body{
    overflow-x: hidden;
}


/*****************/

#main-content{
    margin-top:-10px !important;
}

.container-fluid1{
    position: relative;
    z-index: 0;
    padding: 20px;
}

/*****************/

.fc {
    padding: 30px !important;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0% !important;
    padding-bottom: 1.5em;
}

/******************/

.card{
    padding: 15px;
}

.progress{
    background-color: #3478dd !important;
    height: 4px !important;
    margin: 25px 0px;
}

.social{
    border-top: 0.3px #e2e2e2 solid;
    border-bottom: 0.3px #e2e2e2 solid;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.s-tiktok, .s-facebook, .s-instagram{
    padding: 4px 8px;
    margin-left: 15px;
}

.s-tiktok{
    border: 0.3px #aaaaaa solid;
    color: #aaaaaa !important;
}

.s-facebook{
    border: 0.3px #3479d3 solid;
    color: #3479d3 !important;
}

.s-instagram{
    border: 0.3px #f21e68 solid;
    color: #f21e68 !important;
}