
.title  {  
    margin-bottom: 20px;  
    padding:20px  
}  

.img{  
    width: 500px;
    object-fit: contain;
}


.owl-prev{
    display: none !important;
}

.owl-next{
    display: none !important;
}

.owl-dots .owl-dot{
    width: 18px;
    height: 18px;
    margin-left: 10px;
}

.owl-dots .owl-dot span{
    width: 100% !important;
    height: 100% !important;
    margin: 0% !important;
}


.container-fluid{
    margin-bottom: 30px;
}

#carouselO{
    background-color: transparent !important;
}